.svg
  width: 100%
  height: auto
  margin: auto auto 1em auto
  transform: rotate(-90deg)
  border-radius: 50%
  background: transparent
  filter: drop-shadow(0 15px 35px transparentize($black, 0.9))

.circle
  stroke-width: 32
  fill: $white
  transition: stroke-dasharray 150ms ease-in-out, stroke 150ms ease-in-out
