@mixin flex($dir, $wrap, $align, $justify)
  display: flex
  flex-flow: $dir $wrap
  align-items: $align
  justify-content: $justify

@mixin overflow-ellipsis($direction)
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  direction: $direction

@mixin sticky()
  position: -webkit-sticky
  position: sticky

@mixin fade($duration: 300ms, $timing: ease-in-out)
  animation-name: fade
  animation-duration: $duration
  animation-timing-function: $timing
  animation-fill-mode: forwards

@keyframes fade
  0%
    opacity: 0
  100%
    opacity: 1
