html, body
  margin: 0
  padding: 0


h5
  text-align: center
  font-family: Helvetica
  font-size: 15px


.swatch-container
  margin: 20px


.swatch
  width: 200px
  height: 200px
  margin: 20px auto
  transition: transform 150ms ease-in-out
  &:hover
    transform: scale(1.15)
    cursor: move


.palette
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: space-evenly


ul
  padding: 0
  margin: 0
  margin-top: 30px
  list-style: none

li
  width: 288px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  text-align: left
  direction: rtl

