html, body
  margin: 0
  padding: 0


h5
  text-align: center


.swatch-container
  margin: 20px


.swatch
  width: 200px
  height: 200px
  margin: 20px auto


.palette
  display: flex
  flex-flow: row wrap
  align-items: flex-start
  justify-content: space-evenly


ul
  padding: 0
  margin: 0
  list-style: none
