.container
  color: inherit
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-start
  padding: 0.5em 0
  text-decoration: none
  border-bottom: 1px solid transparent
  &:hover
    border-bottom: 1px solid currentColor

.path
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  direction: rtl
