.container
  @include flex(row, nowrap, center, center)

.list
  border-radius: 0.1em
  color: inherit
  padding: 1em 2em
  font-family: courier
  max-width: 1000px
  max-height: calc(75vh - 75px)
  overflow-x: hidden
  overflow-y: auto
  display: block
