.color-swatch
  width: 15em
  height: 7em
  text-align: center
  font-size: 1.3em
  margin: 1em
  padding: 1em
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  box-sizing: border-box
  border-radius: 0.05em
  font-family: Helvetica
  font-weight: lighter
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)
  transition: transform 100ms ease-in-out
  &:hover
    transform: scale(1.1)
    cursor: pointer
