.container
  position: relative

.axis
  border-bottom: 2px solid $black
  border-left: 2px solid $black

.point
  position: absolute
  border-radius: 50%
  cursor: pointer
  transition: transform 150ms ease-in-out
  &:hover
    transform: scale(1.5)

.spectrum
  position: absolute
  bottom: -2.3em
  left: 0
