.container
  position: relative
  margin: 1em auto

.yAxis
  @include flex(column, nowrap, flex-end, space-between)
  height: 100%
  position: absolute
  left: -2em
  bottom: 0

.axis
  border-bottom: 2px solid $black
  border-left: 2px solid $black

.points
  width: 100%
  height: 100%
  border-left: 1px solid $black
  border-bottom: 1px solid $black

.point
  position: absolute
  cursor: pointer
  stroke-width: 0
  transition: stroke-width 250ms ease-in-out
  &:hover
    stroke-width: 3

.spectrum
  position: absolute
  bottom: -2.8em
  left: 0
