$size: 12em
$shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)
$shadow-lg: 0 22.5px 52.5px rgba(50,50,93,.1),0 7.5px 22.5px rgba(0,0,0,.07)

.container
  position: relative
  width: $size
  height: $size
  text-align: center
  font-size: 1em
  margin: 1em
  padding: 1em
  @include flex(row, nowrap, center, center)
  border-radius: 50%
  font-weight: 400
  box-shadow: $shadow
  cursor: pointer
  transition: transform 400ms ease-in-out, box-shadow 400ms ease-in-out
  &:focus
    outline: none
    transform: scale(1.1)
    box-shadow: $shadow-lg
  &:hover
    transform: scale(1.1)
    box-shadow: $shadow-lg
