$yellow: #faa916
$orange: #f17105
$blue: #007fff
$turquoise: #17a398
$white: #e6e6e6
$black: #39393a
$green: #679436
$red: #f24236
$pink: #c33c54
$purple: #8f65af

::selection
  background-color: $pink
  color: $turquoise

.split-form
  max-width: 1000px
  display: flex
  flex-flow: row wrap
  margin: 10px
  border: 1px solid $black
  color: $black
  background: $white
  font-family: Helvetica


.half-split
  width: 50%
  height: 100%
  min-width: 250px
  margin: auto
  padding: 30px 15px
  box-sizing: border-box

@media screen and (max-width: 700px)
  .split-form
    max-width: 400px
    flex-flow: column nowrap
    margin: 0
  .half-split
    width: 100%
    height: auto

.dark
  background: $black
  color: $white

.light
  background: $white
  color: $black

p
  font-size: 15px
  padding: 5px 10px
  line-height: 25px
